<div>
  <mat-card>
    <form *ngIf="showCapForm == true" (submit)="AddPlayer('cap', draftForm)" #draftForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="Captain" type="text" ngModel required name="captain" #captain="ngModel">
        <mat-error *ngIf="captain.invalid">Enter a captain name</mat-error>
      </mat-form-field>
      <button mat-mini-fab color="primary" type="submit"><mat-icon>add</mat-icon></button>
    </form>

    <form *ngIf="showPlayerForm == true" (submit)="AddPlayer('player', playerForm)" #playerForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="Player" type="text" ngModel required name="player" #player="ngModel">
        <mat-error *ngIf="player.invalid">Enter a player name</mat-error>
      </mat-form-field>
      <button mat-mini-fab color="primary" type="submit"><mat-icon>add</mat-icon></button>
    </form>
  </mat-card>

  <div *ngIf="showCapForm == true"> <!--  List of Captains before clicking finalized button -->
    <mat-list *ngFor="let captain of captains; let i = index">
      <mat-list-item >{{captain}}
        <button mat-button (click)="Remove('cap', i)"><mat-icon>delete</mat-icon></button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button *ngIf="captains.length > 2" mat-button (click)="FinalizedCaptains()">Finalize Captains</button>
  </div>

  <div *ngIf="showPlayerForm == true"> <!--  List of Players before clicking finalized button -->
    <mat-list *ngFor="let player of players; let i = index">
      <mat-list-item >{{player}}
        <button mat-button (click)="Remove('player', i)"><mat-icon>delete</mat-icon></button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button *ngIf="players.length > 2" mat-button (click)="FinalizedPlayers()">Finalize Players</button>
  </div>
</div>

